*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 5rem;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-container span{
    font-size: 1.3rem;
    margin:0 2.5rem ;
}